<h1>cocktails</h1>

<table class="table">
  <thead>
    <tr>
      <th>Number</th>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cocktails.each do |cocktail| %>
      <tr>
        <td><%= cocktail.id %></td>
        <td><%= cocktail.name %></td>
        <td><%= link_to 'Show', cocktail %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'New Cocktail', new_cocktail_path %>
